<h1>Index des annonces de ventes</h1>

<div class="container-card">
  <ul> <% @ventes.each do |vente| %>
    <% if vente.photo.present? %>
    <%= cl_image_tag @vente.photo, height: 300, width: 300, crop: :fill %>
    <%else  %>
    <% end %>
    <li> <%= vente.name %></li>
    <li> <%= vente.description %></li>
    <li><%= vente.surface %> </li>
    <li> <%= vente.titre %></li>
    <li> <%= vente.price %></li>
    <li> <%= vente.photo %></li>
    <%= link_to "Voir l'annonce", vente_path(vente), class: 'btn btn-primary'  %>
    <%= link_to "Supprimez", vente_path(vente), method: :delete, class: 'btn btn-primary'  %>
     <% end %>
    <%= link_to "Créer une annonce", new_vente_path, class: 'btn btn-danger' %>
  </ul>
</div>
