 <h1>Show de l'annonce</h1>

<ul>
 <% @vente.images.each do |imagess|%>
   <%# if imagess.present? %>
   <%#= imagess.inspect %>
  <li><%= cl_image_tag imagess.url if imagess.present? %></li>
   <%# else %>

 <%# end %>

  <% end %>

  <li>  <%= @vente.titre %></li>
  <li><%= @vente.localisation %></li>
  <li> <%= @vente.description %></li>
  <li> <%= @vente.surface %></li>
  <li> <%= @vente.price %></li>

</ul>

<ul>
</ul>
<%= link_to "Editer", edit_vente_path(@vente), class: "btn btn-primary" %>
<%= link_to "Retour aux annonces", ventes_path, class: "btn btn-primary" %>


