 <h1>Show de l'annonce</h1>

<ul>
  <% if @vente.images.present? %>
  <li><%= cl_image_tag @vente.photo, height: 300, width: 400, crop: :fill %></li>
  <% else %>
  <% end %>
  <li> <%= @vente.name %> </li>
  <li> <%= @vente.description %></li>
  <li> <%= @vente.surface %></li>
  <li>  <%= @vente.titre %></li>
  <li> <%= @vente.price %></li>
</ul>
<%= link_to "Editer", edit_vente_path(@vente), class: "btn btn-primary" %>
<%= link_to "Retour aux annonces", ventes_path, class: "btn btn-primary" %>


