<div class="navbar-container">
  <h4><%= link_to "Acceuil", '/'  %></h4>
  <h4><%= link_to "Annonces Ventes", ventes_path  %></h4>
  <h4><%= link_to "Estimation", ventes_path  %></h4>
  <h4><%= link_to image_tag("logo.png", alt: "logo"), '/'%></h4>
  <h4><%= link_to "Annonces Location", ventes_path  %></h4>
  <h4><%= link_to "Contact", ventes_path  %></h4>
</div>
