<div class="navbar-container">

  <div class="logo-agence hidden-xs hidden-sm">
    <h1><%= link_to "Agence du Louvre", '/'%></h1>
  </div>

  <div class="link-navbar">
    <h4><%= link_to "Accueil", '/', class: "accueil"  %></h4>
    <h4><%= link_to "Ventes", ventes_path  %></h4>
    <h4><%= link_to "Locations", locations_path  %></h4>
    <h4><%= link_to "Estimation", new_estimation_path, class:" hidden-sm hidden-xs"  %></h4>
    <h4><%= link_to "Contact", new_contact_path  %></h4>
  </div>
</div>



