<div class="navbar-container">

  <div class="logo-agence">
    <h1><%= link_to "Agence du Louvre", '/'%></h1>
  </div>

  <div class="link-navbar">
    <h4><%= link_to "Accueil", '/', class: "accueil"  %></h4>
    <h4><%= link_to "Ventes", ventes_path  %></h4>
    <h4><%= link_to "Locations", locations_path  %></h4>
    <h4><%= link_to "Estimation", new_contact_path  %></h4>
    <h4><%= link_to "Contact", new_contact_path  %></h4>
  </div>
</div>

