

<div class="banner-container">
  <div class="banner-content">
    <div class="agence-banner">
      <h1>Agence du Louvre</h1>
      <h3>Depuis 1995</h3>
    </div>
    <div class="link-banner">
       <h2><%= link_to 'Annonces ventes', ventes_path, class: "btn-annonce-vente" %></h2>
      <h2><%= link_to 'Annonces locations', locations_path, class: "btn-annonce-location" %></h2>
    </div>
  </div>
</div>

    <div class="agence-container">
      <div class="row alignement-description">


      <div class="col-xs-12  col-md-4 agence-titre-logo">
        <h1>Agence du Louvre</h1>
        <br>

          <p><i class="far fa-compass"></i> 52 rue de l'Arbre Sec</p>
          <p><i class="far fa-compass"></i> Paris - 75001</p>
          <p><i class="far fa-address-book"></i> 01-40-20-90-00 / 06-07-03-61-62</p>
          <p><i class="far fa-envelope"></i> <a href="mailto:ag@gmail.com">ag.dulouvre@gmail.com</a> </p>


      </div>


       <div class="col-xs-12  col-md-4 agence-histoire">
        <br>
        <p> Située au cœur de Paris, l’Agence du Louvre est fondée en 1995 par Geneviève Bastien. Forte d’une expérience de plus d’une vingtaine d’années, l’Agence du Louvre est devenue incontournable dans la recherche de biens immobiliers d’exceptions dans les 1er et 2ème arrondissements de Paris. Qu’il s’agisse d’une recherche d’appartement familial ou d’un pied-à-terre, l’Agence du Louvre propose ses services tant pour l’achat et la vente que la location, la location saisonnière ainsi que l’estimation de biens.
          <br> <br>

L’Agence est ouverte tous les jours de XXXX à XXXX sauf le XXX à XXXX.
<br><br>
         </p>
      </div>
      <div class="col-xs-12  col-md-4 agence-horaires hidden-xs hidden-sm">
        <%= cl_image_tag("Capture_d_écran_2018-05-14_à_13.40.42.png", :effect=>"saturation:-75", :height=>250, :width=>360, :crop=>"fill") %>
      </div>
    </div>
</div>


  <div class="content-selection">
    <h1>Notre Sélection</h1>
  </div>

<div class="container-top-annonces">
  <div class="row  ">
  <% @ventes.each do |vente| %>
  <% if vente.top === true %>
    <div class="col-xs-12 col-md-4 photo-top-index flipcard h">
      <div class="front description-top responsive-top" style="background-image: url('<%= cl_image_path vente.photo, height: 332, width: 270, crop: :fill %>')">
    </div>

    <div class="back">
      <p><%= vente.titre %></p>
      <p><%= vente.price %></p>
      <p><%= vente.surface %></p>
      <h3><%= link_to "Voir l'annonce", vente_path(vente)  %></h3>
    </div>

  </div>
  <% else %>
  <% end %>
  <% end %>
</div>
</div>
