 <div class="container contact-container">
  <div class="row">
  <h1>Contact</h1>
  <h5><em>Merci de renseigner le formulaire. Nous prendrons contact avec vous dans les meilleurs délais.</em></h5>
  <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
  <div class="row col-xs-12">
    <%= f.input :nom, :required => true, :input_html => {:class => 'input-style'} %>

  </div>
  <div class="row col-xs-12">
    <%= f.input :email, :required => true, :input_html => {:class => 'input-style'} %>

  </div>
  <div class="row col-xs-12">
    <%= f.input :telephone, :required => true, :input_html => {:class => 'input-style'} %>

  </div>
  <div class="row col-xs-12">
    <%= f.input :message, :as => :text, :required => false, :input_html => {:rows => 10, :class => 'input-style'} %>

  </div>
    <div class="form-actions">
    <div class="hidden">
    <%= f.input :nickname %>
    </div>
      <%= f.button :submit, 'Envoyé', :class=> "button" %>
      <br><br>
      <p><em>*Les informations communiquées sont destinées à l'Agence immobilière éditrice de ce site. Vous bénéficiez d'un droit d'accès, de modification, de rectification et de suppression de vos données personnelles (Loi n°2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique). Pour les exercer, adressez-vous à l'adresse de l'Editeur.</em></p>
    </div>
  <% end %>

  </div>

</div>


<!--
<div class="container-fluid">
    <div class="container">
      <div class="formBox">
        <form novalidate="novalidate" id="new_contact" action="/contacts" method="post">
            <div class="row">
              <div class="col-sm-12">
                <h1>Contactez-nous</h1>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="inputBox ">
                  <div class="inputText">Prénom</div>
                  <input type="text" name="" class="input" required="required" aria-required="true" name="contact[name]" id="contact_name">
                </div>
              </div>

        <div class="col-sm-6">
                <div class="inputBox">
                  <div class="inputText">Nom</div>
                  <input type="text" name="" class="input">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="inputBox">
                  <div class="inputText">Email</div>
                  <input type="email" name="" class="input" required="required" aria-required="true" name="contact[email]" id="contact_email">
                </div>
              </div>

              <div class="col-sm-6">
                <div class="inputBox">
                  <div class="inputText">Téléphone</div>
                  <input type="text" name="" class="input" required="required" aria-required="true" name="contact[telephone]" id="contact_telephone">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="inputBox">
                  <div class="inputText">Message</div>
                  <textarea class="input" rows="10" name="contact[message]" id="contact_message"></textarea>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-actions">

                <input type="submit" name="commit" class="button" value="Envoyé" data-disable-with="Envoyé">
              </div>
                </div>
            </div>
        </form>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
   <script type="text/javascript">
    $(".input").focus(function() {
      $(this).parent().addClass("focus");
    })
   </script>
 -->
