
<%= simple_form_for(@location, :html => { multipart: true }) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container-fluid form-container">
  <div class="field">
    <%= f.input :titre %>
    <%= f.input :localisation %>
    <%= f.input :description %>
    <%= f.input :surface %>
    <%= f.input :price %>
    <%= f.input :top, as: :select %>
    <%= f.input :photos %>
    <%= f.input :photos_cache, as: :hidden %>
  </div>

  <%= f.fields_for :picture do |ff| %>
    <div class="field">
      <%= ff.label :picture %><br>
      <%= ff.file_field :picture, multiple: true, name: "pictures[]" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<% if @location.id %>
  <% @location.pictures.each do |picture| %>
    <%= image_tag picture.picture_url(:locations_image) %><br>
    <%= link_to "Delete", picture_path(picture), :method => :delete,class: "delete" %><br>
  <% end %>
<% end %>

  </div>
