
<div class="container-index">
  <% @locations.each do |location| %>

  <div class="row">
    <div class=" col-xs-12 border">



        <div class="content-vente">
          <div class="photo-vente">
            <%= cl_image_tag location.photos, height: 332, width: 400, crop: :fill %>
          </div>

          <div class="description-vente">
            <div class="info-titre">
            <h3><i class="fas fa-map-marker-alt"></i> Lieu:   <%= location.localisation %></h3>
            <h3><i class="fas fa-home"></i>   <%= location.titre %></h3>
              <h3><i class="fas fa-euro-sign"></i>   Loyer:  <%= location.price.to_i %>€/mois</h3>
             <h3><i class="fas fa-expand-arrows-alt"></i>   <%= location.surface %>m²</h3>

            </div>
          <div class="description">
            <p><%= location.description %></p>
          </div>
        </div>

           <div class="lien-vente">
            <p><%= link_to "Voir l'annonce", location_path(location) %></p><br><br>
          </div>
            <div class="new-vente">
            <% if user_signed_in? %>
                <p><%= link_to "Nouvelle annonce", new_location_path, class: "nouvelle" %></p>

            <% end %>

            </div>

        </div>
      </div>
      <% end %>
  </div>

